html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: top;
    max-width: 90vh;
    font:14pt arial, sans-serif;
    padding-bottom: 20px;
}

hr {
    color: rgb(235, 235, 235)
}

#footer {
    padding-top: 1em;
    font-size: 70%;
    color: gray;
    text-align: center;
    }